<br>
<section id="buttons">
  <p><%= button_to "Create Viewing Party for #{@movie.title}", "/movies/#{@movie.id}/viewing_party/new", method: :get, class: "btn btn-primary" %><p>
</section><br>

<section id="info">
  <h2><%= @movie.title %></h2>

  <p> <img src="https://image.tmdb.org/t/p/original<%= @movie.poster  %>"alt="">

  <section class="container">
  <section class="row align-items-start">
    <section class="col">
      <section class="text-decoration-underline"><h4>Vote Average</h4></section>
    </section>
    <section class="col">
      <section class="text-decoration-underline"><h4>Runtime</h4></section>
    </section>
    <section class="col">
      <section class="text-decoration-underline"><h4>Genre(s)</h4></section>
    </section>
  </section>
  <section class="row align-items-center">
    <section class="col">
      <strong><%= @movie.vote_average %></strong>
    </section>
    <section class="col">
      <strong><%= "#{@movie.runtime/60} hour(s) " "#{@movie.runtime%60} minutes" %></strong>
    </section>
    <section class="col">
      <% @movie.genre.each do |genre| %>
        <%= genre[:name] %>,
      <% end %>
    </section>
  </section>
  
    <section class="row align-items-end">
      <section class="col">
      <br><br>
        <section class="text-decoration-underline"><h4>Summary</h4></section>
        <%= @movie.summary %>
      </section>
    </section>
  </section>
</section>

<section id="cast">
<br><br>
  <div class="container">
    <div class="row align-items-start">
    <section class="text-decoration-underline"><h4>Cast</h4></section>
      <div class="col">
        <section class="text-decoration-underline"><h6>Actor</h6></section>
      </div>
      <div class="col">
        <section class="text-decoration-underline"><h6>Character</h6></section>
      </div>
    </div>
    <% @cast.each do |person|%>
      <div class="row align-items-center">
        <div class="col">
          <p><%= "#{person.name}" %></p>
        </div>
        <div class="col">
          <p><%= person.character %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>

<br><br>
<% if @reviews.present? %>
  <section id="reviews">
    <section class="text-decoration-underline"><h4>Reviews</h4></section>
    <section class="container">
      <section class="row align-items-start">
        <section class="col">
          <section class="text-decoration-underline"><h6>Author Name/Handle</h6></section>
        </section>
        <section class="col">
          <section class="text-decoration-underline"><h6>Rating</h6></section>
        </section>
      </section>
      <% @reviews.each do |review|%>
      <section class="row align-items-center">
        <section class="col">
          <strong><%= "#{review.name}/#{review.user_name}" %></strong>
        </section>
        <section class="col">
          <strong><%= review.rating %></strong>
        </section>
      </section>
  <section class="text-decoration-underline"><h6>Review</h6></section>
  <p>Review: <%= review.content %></p>
  <br><br>
      <% end %>
  </section>
  <p>
  </p>
  <% end %>


