<section class="container">
  <section class="row">
    <section class="col-6">
      <p><%= button_to 'Register', '/register', method: :get, class: "btn btn-primary" %><p>
    </section>
    <section class="col-5">
      <p><%= button_to 'Sign Up With Google', '/auth/google_oauth2', method: :get, class: "btn btn-primary" %><p>
    </section>
  </section>
</section>

</br>

<%= form_with url: '/login', method: :post, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.text_field :password %>

  <%= f.submit "Login" %>
<% end %>
